.flex-container-content{
    display: flex;
    height: 100%;
    
    div{
        flex: 1 1 0;
       
    }

    .img-container{
        display: flex;
        border: solid black;
        
        img{

            width: auto;
            height: auto;
        }

    }

}