@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap%27);");

$homeFont: "Rubik", sans-serif;
$headerHeight: 10vh;
$formHeight: 90vh;
$createAnAccountHeight: 20vh;

* {
  margin: 0;
  padding: 0;
}

.register-container{
    background-color: #D9D9D9;
    font-family: $homeFont;
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 5px;
    padding-bottom: 10px;
    .project-name{
      display: flex;
      align-items: center;
      justify-content: center;
      height: $headerHeight;
      background-color: #807F94;
      width: 90%;
      margin: auto;
      h2{
        color: white;
        font-weight: bold;
      }
    }
    .create-accountW{
      margin-top: 10px;
      height: $createAnAccountHeight;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 10px;
      .imgs-register{
        display: flex;
        gap: 50px;

      }
      h3{
        color:black;
        font-weight: bold;

      }
    }
    .register-container{
      width: 90%;
      margin: auto;
      border-radius: 10px;
      height: $formHeight;
      background-color: #807F94;
      display: flex;
      justify-content: center;
      align-items: center;
      .myForm{
        display: flex;
        flex-direction: column;

        .basic-info{
            display: flex;
            gap: 10px;
            
             
        }
        .basic-email{
          margin-top: 10px;

        }
        .birth-info{
          margin-top: 10px;
          gap: 10px;
          display: flex;
        }
        .label-form{
          color: black;
          font-weight: bold;
          
        }

        .button-sumbit{
            width: 20%;
            margin-left: auto;

        }
        
    }
    }
 
}